* {
    margin: 0;
    max-width: 100vw;
    color: #FFF;
}

body {
    background-color: #06193d;
    font-family: 'League Spartan', sans-serif;
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.colorido {
    color: #00ffba;
}

.logo-header {
    width: 200px;
    height: auto;
    margin:   0 0 0 50px;
}

.menu-lateral {
    width: 200px;
    height: 50px;
    margin: 0 50px 0 0;
}

.links-header {
    width: 30%;
    font-size: 1.5pc;
    display: flex;
    align-self: center;
    justify-content: space-between;
}
.img-menu {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

.titulo-inicial {
    font-size: 6pc;
}
#subtitulo-inicial {
    font-size: 3pc;
}

.botao-inicial {
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00ffba;
    background: linear-gradient(90deg,#00184d 0%, #008a96 100%);
    border-radius: 50px;
    font-size: 2.5pc;
    border: #008a96;
}

#primeira-secao-inicial {
    background-color: #06193d;
    width: 100%;
    height: 700px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#subtitulo-segunda-secao {
    font-size: 4pc;
    text-align: center;
}

#textos-primeira-secao {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
}

#segunda-secao-inicial {
    padding-top: 100px;
    background: linear-gradient(180deg, #06193d 0%,#004466  10%, #004466 100%);
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#barra-criador {
    width: 2px; 
    height: 500px; 
    background-color: #00ffba;
}

#textos-segunda-secao {
    font-size: 3pc;
    background-color: #008a96;
    width: 60%;
    height: auto;
    padding: 50px;
    border-radius: 50px;
    text-align: center;
}

#terceira-secao-inicial {
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#imagem-criador {
    margin-bottom: 50px;
    border-radius: 50%;
}

.texto-terceira-secao {
    width: 45% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#texto-criador-terceira-secao {
    font-size: 2pc;
}

#titulo-criador {
    font-size: 4pc;
    margin-bottom: 50px;
}


footer{
    background-color:#004466;
    width: 100%;
    height: 100%;
    margin-top: 55px;
    display: block;
    justify-content: center;
    align-items: center;
}

.redes_socias{
    width: 35px;
    height: 35px;
}

.imgsfooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    margin-top: 30px;
}

.alinfooter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.alintextos_footer{
    text-align: center;
    margin: 25px;
}


.alin_titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.titulos{
    font-size: 65px;
    text-align: center;
}

#conteudo_pghistoria{
    margin: 25px 250px 0 250px;
<<<<<<< HEAD
    text-align: justify;
=======
    display: flex;
    align-items: center;
    justify-content: center;
    
>>>>>>> c262398d1dbcd4a30b734c5935a4f36a6e47c93e
}

.caixatexto{
    background: linear-gradient(90deg,#00184d 0%, #008a96 100%);
    border-radius: 50px;
    padding: 30px;
    text-align: justify;
    margin-bottom: 75px;
}

#paragrafo_pghistoria{
    font-size: 20px;
    text-align: justify;
    margin-bottom: 15px;
}

#conteudo_pgintroinstalacao{
    margin: 25px 250px 0 250px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

<<<<<<< HEAD
=======
.caixatexto{
    background: linear-gradient(90deg,#00184d 0%, #008a96 100%);
    border-radius: 50px;
    padding: 30px;
    text-align: justify;
    margin-bottom: 50px;
    font-size: 20px;
}
>>>>>>> c262398d1dbcd4a30b734c5935a4f36a6e47c93e

.subtitulo_instalacao{
    margin: 20px 0 10px 20px;
}

.lista_pgintroinstalacao{
    margin: 20px 0 10px 0;
}

<<<<<<< HEAD



/* página vantagens */

#conteudo-vantagens {
    padding: 50px;
    max-width: 1000px;
    margin: auto;
}

#conteudo-vantagens h1 {
    font-size: 4pc;
    text-align: center;
    margin-bottom: 30px;
}

#conteudo-vantagens .descricao {
    font-size: 1.5pc;
    text-align: justify;
    margin-bottom: 50px;
    line-height: 1.8;
}

.secao-lista-vantagens {
    margin-bottom: 60px;
}

.secao-lista-vantagens .subtitulo {
    font-size: 3pc;
    margin-bottom: 20px;
    text-align: left;
}

.secao-lista-vantagens ul {
    list-style: disc;
    padding-left: 30px;
    font-size: 1.3pc;
    line-height: 1.8;
}

.secao-lista-vantagens li {
    margin-bottom: 15px;
}

.secao-lista-vantagens strong {
    color: #00ffba;
}

=======
#alin_linkspgintroinstalacao{
    display: flex;
    justify-content: center;
}

.link_instal_SO{
    margin: 0 25px 0 25px;
    font-size: 22px;
}

#conteudo_pgwindows{
    margin: 25px 250px 0 250px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}
>>>>>>> c262398d1dbcd4a30b734c5935a4f36a6e47c93e




nav{
    background-color: #06193d;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #FFF;
}
nav a:hover{
    background-color: #061993;
    color: white;

}
nav li:last-child a{
    margin-right: auto;
}
.barrinha {
    width: 350px;
    height: 100vh;
    background-color: #06193d;
    backdrop-filter: blur(10px);
    box-shadow: -10px 3px 10px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    overflow-y: auto;
    list-style: none;
    padding-top: 20px;
    gap: 10px;
    box-sizing: border-box;
    
}

.barrinha.ativa {
    transform: translateX(0);
    backdrop-filter: blur(10px);
    box-shadow: -10px 3px 10px rgba(0,0,0,0.2);
}

.barrinha li {
    width: 100%;
    border-bottom: 1px solid #008a96;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.barrinha a {
    width: 100%;
    padding: 15px 30px;
    box-sizing: border-box;
}
<<<<<<< HEAD
.dropdown{
    position: relative;
    display: inline-block;
}


.dropdown-menu{
    position: absolute;
    display: none;
    background-color: #06193d;
    min-width: 160px;
}

.dropdown-menu a{
    display: block;
    color: rgb(255, 253, 253);
    padding: 12px 16px;
    text-decoration: none;

}

.dropdown:hover .dropdown-menu{
    display: block;}
=======
.gradiente-funcao{
    background: linear-gradient(90deg,#00184d 0%, #008a96 100%);
    width: 1100px;
    height: 200px;
    font-size: 30px;
    text-align: start;
    border-radius: 50px;
}
.funcao-centralizar-gradiente{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}
#gradiente-funcao-lista{
    background: linear-gradient(90deg,#00184d 0%, #008a96 100%);
    width: 1300px;
    height: 450px;
    font-size: 30px;
    text-align: start;
    border-radius: 50px;
}
#funcao-titulo{
    margin-top: 60px;
    margin-left: 70px;
    width: 1300px;
    text-align: left;
}
#mesclartexto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.h1-funcao{
    text-align: center;
    font-size: 6pc;
}
#p-funcao{
    margin: 30px;
}
.redhatemvm-centralizar-gradiente{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}
.gradiente-redhatemvm{
    background: linear-gradient(90deg,#00184d 0%, #008a96 100%);
    width: 1100px;
    height: 200px;
    font-size: 30px;
    text-align: start;
    border-radius: 50px;
}
#p-redhatemvm{
    margin: 30px;
}
.h1-redhatemvm{
    text-align: center;
    font-size: 6pc;
}
.colorido-vermelho{
    color: #ff0000;
}
#redhatemvm-titulo1{
    margin-top: 60px;
    margin-left: 250px;
    width: 1300px;
    text-align: left;
}
#redhatemvm-titulo2{
    margin-top: 60px;
    margin-left: 70px;
    width: 1300px;
    text-align: left;
}
.gradiente-redhatemvm2{
    background: linear-gradient(90deg,#00184d 0%, #008a96 100%);
    width: 1300px;
    height: 200px;
    font-size: 30px;
    text-align: start;
    border-radius: 50px;
}

.primeira-secao-hornet, .segunda-secao-hornet {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.titulo-hornet {
    font-size: 70px;
    margin-bottom: 100px;
    text-align: center;
}
.textos-hornet {
  font-size: 30px;
  text-align: start;
  margin: 20px 80px;
}

.segunda-secao-hornet {
  padding: 100px 0px;
  background: linear-gradient(rgb(6, 25, 61) 0%, rgb(0, 68, 102) 10%, rgb(0, 68, 102) 100%);
}

.titulo-exemplosuso{
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 5pc;
    margin-top: 3%;
    margin-bottom: 2%;
}

.premain-exemplosuso{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 2%;
}

.caixacolorida-exemplosuso{
    background: linear-gradient(90deg,#00184d 0%, #008a96 100%);
    padding: 2%;
    width: 60vw;
    height: auto;
    border-radius: 30px;
    font-size: 2pc;
    color: #fff;
    text-align: center;
}

.main-exemplosuso{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-exemplosuso{
    width: 87vw;
    height: auto;
    padding: 3%;
    border: 2px solid #fff;
    border-radius: 30px;
    display: flex;
    font-size: 1.5pc;
    margin-top: 5%;
    text-align: justify;
}

.imgbanner-exemplosuso{
    width: 150px;
    height: 140px;
    margin-right: 3%;
}

.corrosa-exemplosuso{
    color: #e17175;
    margin-right: 3%;
    font-size: 3pc;
}

.corvermelha-exemplosuso{
    color: #e50914;
    margin-right: 3%;
    font-size: 3pc;
}

.coramarela-exemplosuso{
    color: #ff9c1a;
    margin-right: 3%;
    font-size: 3pc;
}

.corverde-exemplosuso{
    color: #1db954;
    margin-right: 3%;
    font-size: 3pc;
}

#fundobanner1-exemplosuso{
    background-color: #fe025640;
    transition: ease 0.3s;
}

#fundobanner1-exemplosuso:hover{
    border: 3px solid #e17175;
    transform: scale(1.03);
}

#fundobanner2-exemplosuso{
    background-color: #e2d464d4;
    transition: ease 0.3s;
}

#fundobanner2-exemplosuso:hover{
    border: 3px solid #ff9c1a;
    transform: scale(1.03);
}

#fundobanner3-exemplosuso{
    background-color: #df06116b;
    transition: ease 0.3s;
}

#fundobanner3-exemplosuso:hover{
    border: 3px solid #e50914;
    transform: scale(1.03);
}

#fundobanner4-exemplosuso{
    background-color: #0dea5a5d;
    transition: ease 0.3s;
}

#fundobanner4-exemplosuso:hover{
    border: 3px solid #1db954;
    transform: scale(1.03);
}

.titulo-oqehdocker{
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 5pc;
    margin-top: 3%;
    margin-bottom: 2%;
}

.premain-oqehdocker{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 2%;
}

.caixacolorida-oqehdocker{
    background: linear-gradient(90deg,#00184d 0%, #008a96 100%);
    padding: 2%;
    width: 60vw;
    height: auto;
    border-radius: 30px;
    font-size: 2pc;
    color: #fff;
    text-align: center;
}

.main-exemplosuso{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-oqehdocker{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: top;
}

.subtitulos-oqehdocker{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.subtitulos2-oqehdocker{
    font-size: 3pc;
    width: 50vw;
    height: auto;
    text-align: center;
    margin-top: 5%;
}

.banner-oqehdocker{
    display: flex;
    width: 44vw;
    height: auto;
    border: 5px solid #008a96;
    font-size: 2.1pc;
    border-radius: 20px;
    text-align: justify;
    padding: 2%;
    margin-top: 2%;
    transition: ease 0.3s;
}

.banner-oqehdocker:hover{
    border-color: #00ffba;
    transform: scale(1.04);
}

#primeirobanner-oqehdocker{
    height: 403px;
}

.caixacolorida2-oqehdocker{
    background: linear-gradient(90deg,#00184d 0%, #008a96 100%);
    padding: 2%;
    width: 80vw;
    height: auto;
    border-radius: 30px;
    font-size: 2pc;
    color: #fff;
    text-align: justify;
    margin-top: 2%;
}

.espacoimagem-oqehdocker{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.imagem-oqehdocker{
    width: 600px;
    height: auto;
    margin-bottom: 3%;
    transition: ease 0.3s;
}

.imagem-oqehdocker:hover{
    transform: scale(1.06);
}

.legenda-oqehdocker{
    font-size: 1.57pc;
    width: 90vw;
    text-align: center;
    border: 5px solid #004466;
    padding: 2%;
    border-radius: 40px;
}

.titulo-historiavm{
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 5pc;
    margin-top: 3%;
    margin-bottom: 2%;
}

.premain-historiavm{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 2%;
}

.caixacolorida-historiavm{
    background: linear-gradient(90deg,#00184d 0%, #008a96 100%);
    padding: 2%;
    width: 60vw;
    height: auto;
    border-radius: 30px;
    font-size: 2pc;
    color: #fff;
    text-align: center;
}

.main-historiavm{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-historiavm{
    width: 90vw;
    display: block;
    margin-bottom: 3%;
}

.titulobanner-historiavm{
    font-size: 4pc;
    padding: 1%;
    border-bottom: 5px solid #004466;
    margin-bottom: 3%;
}

.container-historiavm{
    width: 90vw;
    height: auto;
    border: 3px solid #004466;
    font-size: 2pc;
    border-radius: 30px;
    padding: 2%;
    text-align: justify;
    transition: ease 0.3s;
}

.container-historiavm:hover{
    border-color: #006597;
}

.titulo-exemplosvm{
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 5pc;
    margin-top: 3%;
    margin-bottom: 2%;
}

.premain-exemplosvm{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 2%;
}

.caixacolorida-exemplosvm{
    background: linear-gradient(90deg,#00184d 0%, #008a96 100%);
    padding: 2%;
    width: 60vw;
    height: auto;
    border-radius: 30px;
    font-size: 2pc;
    color: #fff;
    text-align: center;
}

.main-exemplosvm{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-exemplosvm{
    width: 87vw;
    height: auto;
    padding: 3%;
    border: 2px solid #fff;
    border-radius: 30px;
    display: flex;
    font-size: 1.5pc;
    margin-top: 5%;
    text-align: justify;
}

.imgbanner-exemplosvm{
    width: 150px;
    height: 140px;
    margin-right: 3%;
}

.corpreta-exemplosvm{
    color: #131a22;
    margin-right: 3%;
    font-size: 3pc;
}

.corazul-exemplosvm{
    color: #007fff;
    margin-right: 3%;
    font-size: 3pc;
}

.coramarela-exemplosvm{
    color: #ff9c1a;
    margin-right: 3%;
    font-size: 3pc;
}

.corazul2-exemplosvm{
    color: #0070ff;
    margin-right: 3%;
    font-size: 3pc;
}

#fundobanner1-exemplosvm{
    background-color: rgba(238, 195, 78, 0.776);
    transition: ease 0.3s;
}

#fundobanner1-exemplosvm:hover{
    border: 3px solid #131a22;
    transform: scale(1.03);
}

#fundobanner2-exemplosvm{
    background-color: #3b7cb8d4;
    transition: ease 0.3s;
}

#fundobanner2-exemplosvm:hover{
    border: 3px solid #2190ff;
    transform: scale(1.03);
}

#fundobanner3-exemplosvm{
    background-color: #d43b3bd4;
    transition: ease 0.3s;
}

#fundobanner3-exemplosvm:hover{
    border: 3px solid #ff9c1a;
    transform: scale(1.03);
}

#fundobanner4-exemplosvm{
    background-color: #3e403f5d;
    transition: ease 0.3s;
}

#fundobanner4-exemplosvm:hover{
    border: 3px solid #0070ff;
    transform: scale(1.03);
}

#imggcp-exemplosvm{
    width: 200px;
    height: 130px;
}

.gradiente-primeiropasso{
    background: linear-gradient(90deg,#00184d 0%, #008a96 100%);
    width: 1100px;
    height: 250px;
    font-size: 30px;
    text-align: start;
    border-radius: 50px;
}
.primeiropasso-centralizar-gradiente{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}
.p-primeiropasso{
    margin: 30px;
}

.h1-primeiropasso{
    text-align: center;
    font-size: 6pc;
}

.codigos{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 0);
}